Source: ros-noetic-mrpt-sensors
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: https://wiki.ros.org/mrpt_sensors
Standards-Version: 3.9.2

Package: ros-noetic-mrpt-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-mrpt-generic-sensor, ros-noetic-mrpt-sensorlib, ros-noetic-mrpt-sensors-examples
Description: ROS nodes for various robotics sensors via mrpt-hwdrivers
